<a href="https://colab.research.google.com/github/Efatobor/My-Hamoye-Stage-a-Code/blob/main/Stage_D_Assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
data = pd.read_csv('/content/sample_data/Africa Food Production (2004 - 2013) (1).csv')

In [3]:
data.head()

   Country                Item  Year  Value
0  Algeria  Wheat and products  2004   2731
1  Algeria  Wheat and products  2005   2415
2  Algeria  Wheat and products  2006   2688
3  Algeria  Wheat and products  2007   2319
4  Algeria  Wheat and products  2008   1111

In [4]:
data.tail()

        Country         Item  Year  Value
23105  Zimbabwe  Crustaceans  2009      0
23106  Zimbabwe  Crustaceans  2010      0
23107  Zimbabwe  Crustaceans  2011      0
23108  Zimbabwe  Crustaceans  2012      0
23109  Zimbabwe  Crustaceans  2013      0

In [5]:
data.dtypes

Country    object
Item       object
Year        int64
Value       int64
dtype: object

In [6]:
data.shape

(23110, 4)

In [7]:
data.describe()

               Year         Value
count  23110.000000  23110.000000
mean    2008.498269    327.785201
std        2.871740   1607.940343
min     2004.000000      0.000000
25%     2006.000000      3.000000
50%     2008.000000     18.000000
75%     2011.000000    108.000000
max     2013.000000  54000.000000

In [8]:
data.columns

Index(['Country', 'Item', 'Year', 'Value'], dtype='object')

In [9]:
data.nunique()

Country      45
Item         94
Year         10
Value      2134
dtype: int64

In [10]:
data['Country'].unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad',
       'Congo', "Cote d'Ivoire", 'Djibouti', 'Egypt', 'Ethiopia', 'Gabon',
       'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho',
       'Liberia', 'Madagascar', 'Malawi', 'Mali', 'Mauritania',
       'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger',
       'Nigeria', 'Rwanda', 'Sao Tome and Principe', 'Senegal',
       'Sierra Leone', 'South Africa', 'Sudan', 'Swaziland', 'Togo',
       'Tunisia', 'Uganda', 'United Republic of Tanzania', 'Zambia',
       'Zimbabwe'], dtype=object)

In [11]:
data['Item'].unique()

array(['Wheat and products', 'Rice (Milled Equivalent)',
       'Barley and products', 'Maize and products', 'Oats',
       'Sorghum and products', 'Cereals, Other', 'Potatoes and products',
       'Sugar beet', 'Sugar (Raw Equivalent)', 'Honey', 'Beans', 'Peas',
       'Pulses, Other and products', 'Nuts and products',
       'Groundnuts (Shelled Eq)', 'Sunflower seed',
       'Rape and Mustardseed', 'Cottonseed',
       'Olives (including preserved)', 'Groundnut Oil',
       'Sunflowerseed Oil', 'Rape and Mustard Oil', 'Olive Oil',
       'Oilcrops Oil, Other', 'Tomatoes and products', 'Onions',
       'Vegetables, Other', 'Oranges, Mandarines',
       'Lemons, Limes and products', 'Grapefruit and products',
       'Citrus, Other', 'Bananas', 'Apples and products', 'Dates',
       'Grapes and products (excl wine)', 'Fruits, Other', 'Pimento',
       'Wine', 'Beer', 'Beverages, Alcoholic', 'Bovine Meat',
       'Mutton & Goat Meat', 'Pigmeat', 'Poultry Meat', 'Meat, Other',
       'Offals, Edible', 'Butter, Ghee', 'Fats, Animals, Raw', 'Eggs',
       'Milk - Excluding Butter', 'Freshwater Fish', 'Demersal Fish',
       'Pelagic Fish', 'Marine Fish, Other', 'Crustaceans', 'Cephalopods',
       'Molluscs, Other', 'Millet and products', 'Cassava and products',
       'Sweet potatoes', 'Sugar cane', 'Soyabeans', 'Sesame seed',
       'Palm kernels', 'Oilcrops, Other', 'Cottonseed Oil',
       'Palmkernel Oil', 'Palm Oil', 'Pineapples and products',
       'Coffee and products', 'Cocoa Beans and products',
       'Beverages, Fermented', 'Fish, Body Oil', 'Yams', 'Roots, Other',
       'Coconuts - Incl Copra', 'Soyabean Oil', 'Coconut Oil', 'Pepper',
       'Aquatic Animals, Others', 'Sweeteners, Other', 'Cream',
       'Fish, Liver Oil', 'Sesameseed Oil', 'Spices, Other',
       'Aquatic Plants', 'Plantains', 'Tea (including mate)',
       'Rye and products', 'Alcohol, Non-Food', 'Sugar non-centrifugal',
       'Maize Germ Oil', 'Cloves'], dtype=object)